<h1>Login:</h1>
<div class="errors">
  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
      <li>
        <%= error %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<form id="login-form" action="/sessions" method="POST">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>
