<h1>Login:</h1>

<div id="login-error"></div>
<form id="login-form" action="/sessions" method="POST">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>
