<div class="portfolio-edit">
  <div class="right">
    <h1>Edit this portfolio</h1>
    <a href="/portfolios/<%= @portfolio.id %>">back to porfolio</a>
    <h3>Add an image:<h3>

    <form action="/images" method="post" enctype="multipart/form-data">
      <input type='hidden' name='portfolio_id' value='<%= @portfolio.id %>'>
      <input type='file' name="data">
      <input type='submit' value='Save'></input>
    </form>

    <div id="image-container">
      <% @portfolio.images.each do |image| %>
      <a href="/images/<%= image.id %>"><img src='<%= image.data.url(:medium) %>'></a>
      <% end %>
    </div>
  </div>
</div>
