<h1>Add a portfolio:</h1>

<div id="form-container">
  <form id="porfolio-form" method="post" action="/portfolios">
    <input type="text" name="title" placeholder="title here"/>
    <br>

    <input type="submit" value="create">
  </form>
</div>

<p>
  <h2>collection:</h2>
  <ul>
    <% @portfolio.user.portfolios.each do |portfolio|%>
      <a href="/portfolios/<%= portfolio.id %>"><li><%= portfolio.title %></li></a>
      <form action="/portfolios/<%= portfolio.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    <% end %>
  </u>
</p>
