<div class="add-container">
  <div class="right">
    <div class="add-content">
      <h1>Add a portfolio:</h1>

      <div id="form-container">
        <form id="porfolio-form" method="post" action="/portfolios">
          <input type="text" name="title" placeholder="title here"/>
          <br>

          <input type="submit" value="create">
        </form>
      </div>
    </div>
  </div>

  <div class="left">
    <div class="list-container">
      <% @portfolio.user.portfolios.each do |portfolio|%>
      <% portfolio.images.each do |img| %>
        <ul>
          <li>
            <img src="<%= img.data.url(:thumbnail) %>">
            <% end %>
            <h3>
              <a href="/portfolios/<%= portfolio.id %>"><li><%= portfolio.title %></li></a>
              <form action="/portfolios/<%= portfolio.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="delete">
              </form>
            </h3>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
