<h3>Browse Asia:</h3>

<% if @country_errors %>
  <%= @country_errors %>
<% end %>

h2>Search:</h2>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete"
  async defer>
</script>

<div class="Asia">
  <% @county.images.each do |image| %>
    <%= image.data.url(:large) %>
  <% end %>
</div>
