<div class="top">

  <div id="slide-window">

    <ol id="slides" start="1">

      <li class="slide color-0 alive">
        <img class="slide-1" src="/images/collection_3.jpg" alt="arrow">
      </li>

      <li class="slide color-1">
        <img class="slide-2" src="/images/collection_4.jpg" alt="arrow">
      </li>

      <li class="slide color-2">
        <img class="slide-3" src="/images/collection_2.jpg" alt="arrow">
      </li>

      <li class="slide color-3">
        <img class="slide-4" src="/images/collection_5.jpg" alt="arrow">
      </li>

    </ol>

    <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
    <span class="nav fa fa-chevron-right fa-3x" id="right"></span>

    <div id="credit">Web projects<br>Slide No.<span id="count">1</span></div>

  </div>

</div>
