<div class="title-container">
  <div class="top-div">
    <div class="video-background">
      <video autoplay loop class="video-background" muted>
        <source src="/images/design-video.mp4" type="video/mp4">
      </video>
  </div>
</div>

<div class="bottom-div"></div>

</div>
