<a href=""><h1 class="logo-1">Inspiration</h1></a>

<div class="title-container">
  <img src="/images/light-1-copy.png" alt="light" class="light-1">
  <img src="/images/light-2-copy.png" alt="light" class="light-2">
  <img src="/images/light-3-copy.png" alt="light" class="light-3">
  <img src="/images/light-red.png" alt="light"class="animated bounceInDown light-red">
  <img src="/images/light-1-copy.png" alt="light" class="light-4">
  <div class="top-div">
    <a href="/"><img src="/images/arrow_long.png" alt="arrow" class="animated flash infinite long-arrow"></a>
    <div class="fullscreen-bg">
      <video autoplay loop muted class="fullscreen-video">
          <source src="/images/sketch.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="bottom-div">
  </div>
</div>
