<a href=""><h1 class="logo-1">Inspiration</h1></a>

<div class="title-container">
  <div class="top-div">
    <img src="/images/arrow_long.png" alt="arrow" class="long-arrow">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-video">
          <source src="/images/sketch.mp4" type="video/webm">
      </video>
    </div>
  </div>

  <div class="bottom-div">
  </div>
</div>
