<h1 class="name"></h1>
<a href=""><h1 class="logo-1">Inspiration</h1></a>
<h1 class="logo-2">find</h1>
<a href=""><h1 class="logo-3"><em>your</em></h1></a>

<div class="title-container">
  <div class="top-div">
    <div class="video-background">
      <video autoplay loop class="video-background" muted>
        <source src="/images/sketch.mp4" type="video/mp4">
      </video>
  </div>
</div>

<div class="bottom-div"></div>

</div>
