  <h1><em>World </em><b>folio</b></h1>
  <% if current_user %>
  <h1>Welcome!</h1>
    <h2><%= current_user.username %>'s portfolio menu:</h2>
  <ul>
    <li><a href="/portfolios/new">Add a Portfolio</a></li>
    <li><a href="/users/<%= current_user.id %>/portfolios">View Portfolios</a></li>
    <li><a href="/">Browse</a></li>
    <% if @error %>
      <li> <%= @error %></li>
    <% end %>
  </ul>
  <% end %>
