  <h1><em>World</em><b>porfolio</b></h1>
  <% if current_user %>
  <h1>Welcome!</h1>
    <h2><%= current_user.username %>'s portfolio menu:</h2>
  <ul>
    <li><a href="/portfolios/new">Add a Portfolio</a></li>
    <li><a href="/portfolios/#{@portfolio.id}">View Portfolios</a></li>
    <li><a href="/portfolios">Browse Porfolios</a></li>
  </ul>
  <% end %>
