.title {
  height: 50%;
}

.video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.title-image {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  mix-width: 100%;
  height: auto;
}

.web-2 {
  background-color: #e6ffff
}
.name {
  font-family: "Oswald", serif;
  color: #e6ffff; opacity: 0.9;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.logo-1 {
  font-size: 8em;
  font-family: "Oswald", serif;
  color: #e6ffff; opacity: 0.8;
  margin: 0;
  position: absolute;
  top: 62%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.logo-2 {
  font-family: "Inconsolata";
  color: #e6ffff; opacity: 0.2;
  font-size: 11em;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.logo-3 {
  color: #e6ffff; opacity: 0.6;
  font-family: "Oswald", serif;
  margin: 0;
  position: absolute;
  top: 78%;
  left: 80%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 800px) {
  .logo-1 {
    position: absolute;
    font-size: 600%;
    transform: rotate(90deg) translateY(150px);
    left: 0;
    top: 3.5em;
  }
}
@media only screen and (max-width: 800px) {
  .logo-2 {
    font-size: 800%;
    transform: translateX(-80%);
  }
}
@media only screen and (max-width: 800px) {
  .logo-3 {
    font-size: 200%;
    transform: translateX(-70%);
    top: 85%;
  }
}
