.title-container {
  height: 100%;
}

.top-div {
  height: 70%;
  background-color: black;
  width: 100%;
}
.bottom-div {
  height: 30%;
  background: hsla(200, 50%, 25%, 1);
  width: 100%;
}
.title {
  height: 50%;
}

.video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.title-image {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  mix-width: 100%;
  height: auto;
}

.web-2 {
  background-color: #e6ffff
}
.name {
  font-family: "Oswald", serif;
  color: #e6ffff; opacity: 0.9;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.logo-1 {
  font-size: 6em;
  font-family: "Amatic SC";
  letter-spacing: .3em;
  color: #e6ffff; opacity: 0.8;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .logo-1 {
    font-family: "Amatic SC";
    position: absolute;
    font-size: 420%;
    transform: rotate(90deg) translateY(150px);
    left: 0;
    top: 4.5em;
  }
}
.title-h1 {
  font-family: "Amatic SC";
  font-size: 3em;
  font-weight: 100;
  letter-spacing: .5em;
}
