.title {
  height: 50%;
}

.video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.title-image {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  mix-width: 100%;
  height: auto;
}

.web-2 {
  background-color: #e6ffff
}
.name {
  font-family: "Oswald", serif;
  color: #e6ffff; opacity: 0.9;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.logo-1 {
  font-size: 8em;
  font-family: "Oswald", serif;
  color: #e6ffff; opacity: 0.8;
  margin: 0;
  position: absolute;
  top: 66%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.logo-2 {
  font-family: "Inconsolata", serif;
  color: #e6ffff; opacity: 0.2;
  font-size: 180px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 82%;
  transform: translate(-50%, -50%);
}

.logo-3 {
  color: #e6ffff; opacity: 0.6;
  font-family: "Oswald", serif;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
