<h2>Browse images:</h2>
<div class="nav-container">
  <a href="/"><span class="left-arrow">&#60;</span></a>
  <a href="/"><span class="right-arrow">&#62;</span></a>

  <% @images.each do |image| %>
    <div class="image-container">
      <a href="/images/<%= image.id %>"><img class="image" src='<%= image.data.url(:large) %>'></a>
    </div>
  <% end %>
</div>
