<section class="fill-height-or-more">
  <div class="title">
    <%= erb :'partials/_title' %>
  </div>

  <div class="web-1">
    <div class="content">
      <%= erb :'partials/_project' %>
    </div>
  </div>
</section>
