<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/app.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>World Map</title>
</head>

<body>
  <header class='app-bar'>
    <%= erb :'_header' %>
  </header>

  <%= yield %>
</body>

</html>
