<h2>Search:</h2>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete"
  async defer>
</script>

<!--
<ul>
  <% @images.each do |image| %>
    <li>
      <img src="<%= image.data.url(:thumbnail) %>">
      <p><%= image.data_file_name %></p>
    </li>
  <% end %>
</ul> -->
